*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 15px;
	font-family: 'Robot', sans-serif;
}

body {
	background: linear-gradient(to right,blue,orange,green,pink,red,purple,black,white,grey,yellow,violet,magenta,silver,gold);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.abc {
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group {
	width: 100%;
	max-width: 25rem;
	background-color: #fff;
	position: relative;
	padding: 8rem 0;
	box-shadow: 0 1px 2rem rgba(0, 0, 0, 1);
	border-radius: 1rem;
	z-index: 1;
}

.form-group:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40rem;
	background: linear-gradient(to left, red, blue);
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%; 
	z-index: -1;
}

.heading {
	color: yellow;
	font-size: 3rem;
	position: absolute;
	top: 3.5rem;
	left: 9rem;
}

form {
	transform: translateX(8rem);
	padding: 2rem 0;
	background: #fff;
	border-radius: 2rem;
	box-shadow: 0 1px 1.5rem rgba(0,0,0,1);
}
